<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>この度はcamp.comのご利用ありがとうございます。</h1>
    <p>
        以下の通り予約が完了いたしました。
    </p>
    <p>・予約日 <%= @reservation.day %></p>
    <p>・キャンプ場 <%= @admin.name %></p>
    <p>
        予約詳細を確認するには、<%= @url %>をクリックしてください。
    </p>
  </body>
</html>