<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>camp.comへようこそ。</h1>
    <p>
      camp.comへのサインアップが成功しました。
    </p>
    <p>
      このサイトにログインするには、<%= @url %>をクリックしてください。
    </p>
    <p>本サイトにユーザー登録いただきありがとうございます。</p>
  </body>
</html>